@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BD-Wurst';
    src: url('/fonts/BD-Wurst.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}